<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}IHM Project{% endblock %}</title>

        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <p class="titre_nav navbar-text">IHM Project</p>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div>
                    <ul class="nav navbar-nav ulNavBar">
                        <li class="liNavBar">
                            <a href="{{ path('pornic_index') }}" class="boutonNavOnglet ">Home</a>
                        </li>
                        <li class="liNavBar">
                            <a href="{{ path('pornic_culture') }}" class="boutonNavOnglet ">Actualités cultures</a>
                        </li>
                        <li class="liNavBar">
                            <a href="{{ path('annonces_index') }}" class="boutonNavOnglet ">Gestion des annonces</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        {% block body %}{% endblock %}


        <!-- Début des scripts JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{{ asset('javascript/main.js') }}" charset="utf-8"></script>
    </body>
</html>
